---
import Map from "./Map.astro";
import DataCard from "./DataCard.astro";
---

<section
    id="contacto"
    class="mt-20 px-6 md:px-12 w-full grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-16 items-stretch"
>
    <DataCard />

    <div
        class="rounded-[40px] overflow-hidden border-[#cdb4db] border-2 shadow-2xl min-h-100"
    >
        <Map/>
    </div>
</section>
