---
import { Image } from "astro:assets";
import imageHero from "../assets/hero-unas1.webp";
---

<section
  class="relative h-auto min-h-137.5 md:min-h-175 w-full rounded-[40px] overflow-hidden shadow-2xl bg-slate-900 flex justify-end items-center px-6 md:px-24 border-[#cdb4db] border-2 mt-16 py-12 md:py-0"
>
  <Image
    src={imageHero}
    alt="Manicura premium"
    width={1920}
    height={1080}
    loading={"eager"}
    format="webp"
    quality={100}
    class="absolute inset-0 w-full h-full object-cover object-center"
    alt="Manicura premium"
    loading="eager"
    fetchpriority="high"
  /><div
    class="absolute inset-0 bg-linear-to-l from-black/90 via-black/40 to-transparent"
  >
  </div>

  <div
    class="relative z-10 p-4 md:p-20 max-w-2xl text-left md:text-right md:ml-auto"
  >
    <h1
      class="text-white text-5xl md:text-7xl lg:text-8xl font-bold leading-[1.1] tracking-tighter"
    >
      Tus manos, <br />
      <span class="text-[#CDB4DB]">tu mejor</span>
      <br />
      presentación
    </h1>

    <p class="text-white/70 mt-8 text-lg md:text-xl font-light leading-relaxed">
      Especialistas en manicura profesional y bienestar. Dale a tus uñas el
      cuidado que merecen.
    </p>

    <div class="mt-12">
      <a
        href="#contacto"
        class="bg-[#CDB4DB] text-white px-12 py-5 rounded-full font-bold hover:scale-105 transition-all duration-300 inline-block shadow-xl shadow-purple-900/20 active:scale-95"
      >
        Reservar Cita
      </a>
    </div>
  </div>
</section>
