---
import ServiceCard from "./ServiceCard.astro";
import imagenUnas from "../assets/services/manicura.webp";
import imagenMasaje from "../assets/services/masaje.webp";
import imagenDepilacion from "../assets/services/depilacion.webp";

const services = [
  {
    title: "Manicura Premium",
    description: "Cuidado completo de uñas y cutículas con acabado de larga duración y diseños personalizados.",
    image: imagenUnas,
    link: "/servicios/manicura"
  },
  {
    title: "Masajes Spa",
    description: "Tratamiento relajante para tus pies que incluye exfoliación, hidratación y esmaltado.",
    image: imagenMasaje,
    link: "/servicios/masajes-spa"
  },
  {
    title: "Deplilación Láser",
    description: "Elimina el vello no deseado de forma efectiva y duradera con nuestra tecnología de depilación láser avanzada.",
    image: imagenDepilacion,
    link: "/servicios/depilacion-laser"
  }
];
---

<section id="servicios" class="py-20 bg-[white] border-[#cdb4db] border-2 rounded-4xl mt-20">
  <div class="max-w-7xl mx-auto px-6 md:px-10">
    
    <div class="text-center mb-16">
      <h2 class="text-4xl md:text-5xl font-bold text-slate-900 mb-4">Nuestros Servicios</h2>
      <div class="h-1 w-20 bg-[#CDB4DB] mx-auto rounded-full"></div>
      <p class="text-slate-500 mt-6 max-w-2xl mx-auto text-lg">
        Ofrecemos una experiencia de belleza integral, enfocada en los detalles y en tu bienestar.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {services.map(service => (
        <ServiceCard 
          title={service.title} 
          description={service.description} 
          image={service.image} 
          link={service.link}
        />
      ))}
    </div>
  </div>
</section>